body {
    background: url("sweep.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

header {
	background-color: #fefdfb;
	border: 1px solid black;
	width: 960px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

#start {
	position: relative;
	margin-top: 21%;
	margin-left: 47%;
	display: inline-block;
}

#play {
	background-color: none;
	border: white;
	color: white;
	font-size: 15px;
	width: 90px;
	height: 50px;
	border-radius: 5px;
	display: inline-block;
	
}

.gameboard {
	background-color: white;
	border: 1px solid black;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
}